@media screen and (max-width: 1050px) {
    /*Pad*/
    #upload-paper{
	width: 100% !important;
    }
}

@media screen and (max-width: 750px) {
    #tag-inner{
	display: block !important;
    }
    #tag-img{
	text-align: center;
	margin-bottom: 15px;
    }
}