{% load static %}
<!--begin::Header Mobile-->
<div id="kt_header_mobile" class="header-mobile header-mobile-fixed">

	<!--begin::Logo-->
	<a href="/">
		<img alt="xpapers" src='{% static "utils/logo/xpapers_normal.png" %}' class="logo-default max-h-50px"/>
	</a>

	<!--end::Logo-->

	<!--begin::Toolbar-->
	<div class="d-flex align-items-center">
		<button class="btn p-0 burger-icon rounded-0 burger-icon-left" id="kt_header_mobile_topbar_toggle">
					<span>
					</span>
		</button>
	</div>

	<!--end::Toolbar-->
</div>

<!--end::Header Mobile-->