{% load static %}

<div id="kt_header" class="header header-fixed">

    <!--begin::Container-->
    <div class="container d-flex align-items-stretch justify-content-between">

        <!--begin::Left-->
        <div class="d-none d-lg-flex align-items-center mr-3">
            <!--begin::Logo-->
            <a href="/">
                <img alt="xpapers" src='{% static "utils/logo/xpapers_normal.png" %}' class="logo-sticky max-h-80px"/>
            </a>
            <!--end::Logo-->

            <!--{ Include Search Here }-->

        </div>

        <!--end::Left-->

        <!--begin::Topbar-->
        <div class="topbar">

            <!--{ Include Mobile Search Here }-->

            <!--begin::Create-->
            <!--<div class="dropdown">-->

                <!--&lt;!&ndash;begin::Toggle&ndash;&gt;-->
                <!--<div class="topbar-item mr-4" data-toggle="dropdown" data-offset="10px,0px">-->
                    <!--<div class="btn font-weight-bolder btn-sm btn-light-success px-5">Create</div>-->
                <!--</div>-->

                <!--&lt;!&ndash;end::Toggle&ndash;&gt;-->

                <!--&lt;!&ndash;begin::Dropdown&ndash;&gt;-->
                <!--<div class="dropdown-menu p-0 m-0 dropdown-menu-right dropdown-menu-anim-up dropdown-menu-md">-->

                    <!--&lt;!&ndash;[html-partial:begin:{"id":"demo1/dist/inc/view/partials/content/dropdowns/dropdown-4","page":"index"}]/&ndash;&gt;-->

                    <!--&lt;!&ndash;begin::Navigation&ndash;&gt;-->
                    <!--<ul class="navi navi-hover py-5">-->
                        <!--<li class="navi-item">-->
                            <!--<a href="#" class="navi-link">-->
													<!--<span class="navi-icon">-->
														<!--<i class="flaticon2-drop"></i>-->
													<!--</span>-->
                                <!--<span class="navi-text">New Group</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="navi-item">-->
                            <!--<a href="#" class="navi-link">-->
													<!--<span class="navi-icon">-->
														<!--<i class="flaticon2-list-3"></i>-->
													<!--</span>-->
                                <!--<span class="navi-text">Contacts</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="navi-item">-->
                            <!--<a href="#" class="navi-link">-->
													<!--<span class="navi-icon">-->
														<!--<i class="flaticon2-rocket-1"></i>-->
													<!--</span>-->
                                <!--<span class="navi-text">Groups</span>-->
													<!--<span class="navi-link-badge">-->
														<!--<span class="label label-light-primary label-inline font-weight-bold">new</span>-->
													<!--</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="navi-item">-->
                            <!--<a href="#" class="navi-link">-->
													<!--<span class="navi-icon">-->
														<!--<i class="flaticon2-bell-2"></i>-->
													<!--</span>-->
                                <!--<span class="navi-text">Calls</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="navi-item">-->
                            <!--<a href="#" class="navi-link">-->
													<!--<span class="navi-icon">-->
														<!--<i class="flaticon2-gear"></i>-->
													<!--</span>-->
                                <!--<span class="navi-text">Settings</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="navi-separator my-3"></li>-->
                        <!--<li class="navi-item">-->
                            <!--<a href="#" class="navi-link">-->
													<!--<span class="navi-icon">-->
														<!--<i class="flaticon2-magnifier-tool"></i>-->
													<!--</span>-->
                                <!--<span class="navi-text">Help</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="navi-item">-->
                            <!--<a href="#" class="navi-link">-->
													<!--<span class="navi-icon">-->
														<!--<i class="flaticon2-bell-2"></i>-->
													<!--</span>-->
                                <!--<span class="navi-text">Privacy</span>-->
													<!--<span class="navi-link-badge">-->
														<!--<span class="label label-light-danger label-rounded font-weight-bold">5</span>-->
													<!--</span>-->
                            <!--</a>-->
                        <!--</li>-->
                    <!--</ul>-->

                    <!--&lt;!&ndash;end::Navigation&ndash;&gt;-->

                    <!--&lt;!&ndash;[html-partial:end:{"id":"demo1/dist/inc/view/partials/content/dropdowns/dropdown-4","page":"index"}]/&ndash;&gt;-->
                <!--</div>-->

                <!--&lt;!&ndash;end::Dropdown&ndash;&gt;-->
            <!--</div>-->
            <!--end::Create-->

            {% if user.is_authenticated %}
            {% include 'partials/header/include/user.html' %}
            {% else %}
                <div class="topbar-item mr-4">
                    <a href="/user/login/" class="navi-item px-8">LogIn</a>
                    <a href="/user/signup/" class="navi-item px-8" style="padding-left: 0px !important;">Sign Up</a>
                </div>
            {% endif %}

        </div>

        <!--end::Topbar-->
    </div>

    <!--end::Container-->
</div>
