{% load static %}

<div id="kt_header" class="header header-fixed">

    <!--begin::Container-->
    <div class="container d-flex align-items-stretch justify-content-between">

        <!--begin::Left-->
        <div class="d-none d-lg-flex align-items-center mr-3">
            <!--begin::Logo-->
            <a href="/">
                <img alt="xpapers" src='{% static "utils/logo/xpapers_normal.png" %}' class="logo-sticky max-h-80px"/>
            </a>
            <!--end::Logo-->

            <!--{ Include Search Here }-->

        </div>

        <!--end::Left-->

        <!--begin::Topbar-->
        <div class="topbar">

            <!--{ Include Mobile Search Here }-->

            <!--begin::Create-->
            <!--<div class="dropdown">-->

                <!--&lt;!&ndash;begin::Toggle&ndash;&gt;-->
                <!--<div class="topbar-item mr-4" data-toggle="dropdown" data-offset="10px,0px">-->
                    <!--<div class="btn font-weight-bolder btn-sm btn-light-success px-5">Create</div>-->
                <!--</div>-->

                <!--&lt;!&ndash;end::Toggle&ndash;&gt;-->

                <!--&lt;!&ndash;begin::Dropdown&ndash;&gt;-->
                <!--<div class="dropdown-menu p-0 m-0 dropdown-menu-right dropdown-menu-anim-up dropdown-menu-md">-->

                    <!--&lt;!&ndash;[html-partial:begin:{"id":"demo1/dist/inc/view/partials/content/dropdowns/dropdown-4","page":"index"}]/&ndash;&gt;-->

                    <!--&lt;!&ndash;begin::Navigation&ndash;&gt;-->
                    <!--<ul class="navi navi-hover py-5">-->
                        <!--<li class="navi-item">-->
                            <!--<a href="#" class="navi-link">-->
													<!--<span class="navi-icon">-->
														<!--<i class="flaticon2-drop"></i>-->
													<!--</span>-->
                                <!--<span class="navi-text">New Group</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="navi-item">-->
                            <!--<a href="#" class="navi-link">-->
													<!--<span class="navi-icon">-->
														<!--<i class="flaticon2-list-3"></i>-->
													<!--</span>-->
                                <!--<span class="navi-text">Contacts</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="navi-item">-->
                            <!--<a href="#" class="navi-link">-->
													<!--<span class="navi-icon">-->
														<!--<i class="flaticon2-rocket-1"></i>-->
													<!--</span>-->
                                <!--<span class="navi-text">Groups</span>-->
													<!--<span class="navi-link-badge">-->
														<!--<span class="label label-light-primary label-inline font-weight-bold">new</span>-->
													<!--</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="navi-item">-->
                            <!--<a href="#" class="navi-link">-->
													<!--<span class="navi-icon">-->
														<!--<i class="flaticon2-bell-2"></i>-->
													<!--</span>-->
                                <!--<span class="navi-text">Calls</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="navi-item">-->
                            <!--<a href="#" class="navi-link">-->
													<!--<span class="navi-icon">-->
														<!--<i class="flaticon2-gear"></i>-->
													<!--</span>-->
                                <!--<span class="navi-text">Settings</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="navi-separator my-3"></li>-->
                        <!--<li class="navi-item">-->
                            <!--<a href="#" class="navi-link">-->
													<!--<span class="navi-icon">-->
														<!--<i class="flaticon2-magnifier-tool"></i>-->
													<!--</span>-->
                                <!--<span class="navi-text">Help</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="navi-item">-->
                            <!--<a href="#" class="navi-link">-->
													<!--<span class="navi-icon">-->
														<!--<i class="flaticon2-bell-2"></i>-->
													<!--</span>-->
                                <!--<span class="navi-text">Privacy</span>-->
													<!--<span class="navi-link-badge">-->
														<!--<span class="label label-light-danger label-rounded font-weight-bold">5</span>-->
													<!--</span>-->
                            <!--</a>-->
                        <!--</li>-->
                    <!--</ul>-->

                    <!--&lt;!&ndash;end::Navigation&ndash;&gt;-->

                    <!--&lt;!&ndash;[html-partial:end:{"id":"demo1/dist/inc/view/partials/content/dropdowns/dropdown-4","page":"index"}]/&ndash;&gt;-->
                <!--</div>-->

                <!--&lt;!&ndash;end::Dropdown&ndash;&gt;-->
            <!--</div>-->
            <!--end::Create-->

            <!--begin::User-->
            <!--<div class="topbar-item mr-4">-->
                <!--<div class="dropdown">-->
                    <!--&lt;!&ndash;begin::Toggle&ndash;&gt;-->
                    <!--<div class="topbar-item" data-toggle="dropdown" data-offset="0px,0px" aria-expanded="false">-->
                        <!--<div class="btn btn-icon w-auto btn-clean d-flex align-items-center btn-lg px-2">-->
                            <!--<span class="text-muted font-weight-bold font-size-base d-none d-md-inline mr-1">Hi,</span>-->
                            <!--<span class="text-dark-50 font-weight-bolder font-size-base d-none d-md-inline mr-3">Sean</span>-->
                            <!--<span class="symbol symbol-35 symbol-light-success">-->
                                <!--<span class="symbol-label font-size-h5 font-weight-bold">S</span>-->
                            <!--</span>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;end::Toggle&ndash;&gt;-->
                    <!--&lt;!&ndash;begin::Dropdown&ndash;&gt;-->
                    <!--<div class="dropdown-menu p-0 m-0 dropdown-menu-right dropdown-menu-anim-up dropdown-menu-lg p-0"-->
                         <!--style="">-->
                        <!--&lt;!&ndash;begin::Header&ndash;&gt;-->
                        <!--<div class="d-flex align-items-center justify-content-between flex-wrap p-8 bgi-size-cover bgi-no-repeat rounded-top"-->
                             <!--style="background-image: url(/metronic/theme/html/demo1/dist/assets/media/misc/bg-1.jpg)">-->
                            <!--<div class="d-flex align-items-center mr-2">-->
                                <!--&lt;!&ndash;begin::Symbol&ndash;&gt;-->
                                <!--<div class="symbol bg-white-o-15 mr-3">-->
                                    <!--<span class="symbol-label text-success font-weight-bold font-size-h4">S</span>-->
                                <!--</div>-->
                                <!--&lt;!&ndash;end::Symbol&ndash;&gt;-->
                                <!--&lt;!&ndash;begin::Text&ndash;&gt;-->
                                <!--<div class="text-white m-0 flex-grow-1 mr-3 font-size-h5">Sean Stone</div>-->
                                <!--&lt;!&ndash;end::Text&ndash;&gt;-->
                            <!--</div>-->
                            <!--<span class="label label-success label-lg font-weight-bold label-inline">3 messages</span>-->
                        <!--</div>-->
                        <!--&lt;!&ndash;end::Header&ndash;&gt;-->
                        <!--&lt;!&ndash;begin::Nav&ndash;&gt;-->
                        <!--<div class="navi navi-spacer-x-0 pt-5">-->
                            <!--&lt;!&ndash;begin::Item&ndash;&gt;-->
                            <!--<a href="/metronic/demo1/custom/apps/user/profile-1/personal-information.html"-->
                               <!--class="navi-item px-8">-->
                                <!--<div class="navi-link">-->
                                    <!--<div class="navi-icon mr-2">-->
                                        <!--<i class="flaticon2-calendar-3 text-success"></i>-->
                                    <!--</div>-->
                                    <!--<div class="navi-text">-->
                                        <!--<div class="font-weight-bold">My Profile</div>-->
                                        <!--<div class="text-muted">Account settings and more-->
                                            <!--<span class="label label-light-danger label-inline font-weight-bold">update</span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                            <!--&lt;!&ndash;end::Item&ndash;&gt;-->
                            <!--&lt;!&ndash;begin::Item&ndash;&gt;-->
                            <!--<a href="/metronic/demo1/custom/apps/user/profile-3.html" class="navi-item px-8">-->
                                <!--<div class="navi-link">-->
                                    <!--<div class="navi-icon mr-2">-->
                                        <!--<i class="flaticon2-mail text-warning"></i>-->
                                    <!--</div>-->
                                    <!--<div class="navi-text">-->
                                        <!--<div class="font-weight-bold">My Messages</div>-->
                                        <!--<div class="text-muted">Inbox and tasks</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                            <!--&lt;!&ndash;end::Item&ndash;&gt;-->
                            <!--&lt;!&ndash;begin::Item&ndash;&gt;-->
                            <!--<a href="/metronic/demo1/custom/apps/user/profile-2.html" class="navi-item px-8">-->
                                <!--<div class="navi-link">-->
                                    <!--<div class="navi-icon mr-2">-->
                                        <!--<i class="flaticon2-rocket-1 text-danger"></i>-->
                                    <!--</div>-->
                                    <!--<div class="navi-text">-->
                                        <!--<div class="font-weight-bold">My Activities</div>-->
                                        <!--<div class="text-muted">Logs and notifications</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                            <!--&lt;!&ndash;end::Item&ndash;&gt;-->
                            <!--&lt;!&ndash;begin::Item&ndash;&gt;-->
                            <!--<a href="/metronic/demo1/custom/apps/userprofile-1/overview.html" class="navi-item px-8">-->
                                <!--<div class="navi-link">-->
                                    <!--<div class="navi-icon mr-2">-->
                                        <!--<i class="flaticon2-hourglass text-primary"></i>-->
                                    <!--</div>-->
                                    <!--<div class="navi-text">-->
                                        <!--<div class="font-weight-bold">My Tasks</div>-->
                                        <!--<div class="text-muted">latest tasks and projects</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                            <!--&lt;!&ndash;end::Item&ndash;&gt;-->
                            <!--&lt;!&ndash;begin::Footer&ndash;&gt;-->
                            <!--<div class="navi-separator mt-3"></div>-->
                            <!--<div class="navi-footer px-8 py-5">-->
                                <!--<a href="/metronic/demo1/custom/user/login-v2.html" target="_blank"-->
                                   <!--class="btn btn-light-primary font-weight-bold">Sign Out</a>-->
                                <!--<a href="/metronic/demo1/custom/user/login-v2.html" target="_blank"-->
                                   <!--class="btn btn-clean font-weight-bold">Upgrade Plan</a>-->
                            <!--</div>-->
                            <!--&lt;!&ndash;end::Footer&ndash;&gt;-->
                        <!--</div>-->
                        <!--&lt;!&ndash;end::Nav&ndash;&gt;-->
                    <!--</div>-->
                    <!--&lt;!&ndash;end::Dropdown&ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
            <!--end::User-->

        </div>

        <!--end::Topbar-->
    </div>

    <!--end::Container-->
</div>
