{% load template_tags %}
<!--begin::Subheader-->
<div class="subheader py-3 py-lg-8 subheader-transparent" id="kt_subheader">
    <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">

        <!--begin::Info-->
        <div class="d-flex align-items-center mr-1">
            <!--begin::Page Heading-->
            <div class="d-flex align-items-baseline flex-wrap mr-5">
                <!--begin::Page Title-->
                {% if tag %}
                    {% if data == "course" %}
                        <h2 id="pageTitle" class="d-flex align-items-center text-dark font-weight-bold my-1 mr-3">
                            {{tag}}
                        </h2>
                    {% else %}
                        <!--breadcrumbs-->
                        <h2 id="pageTitle" class="d-flex align-items-center text-dark font-weight-bold my-1 mr-3">
                            {{breadcrumbs_title|convert_to_html}}
                        </h2>
                    {% endif %}
                {% else %}
                <h2 id="pageTitle" class="d-flex align-items-center text-dark font-weight-bold my-1 mr-3">Select University</h2>
                {% endif %}


                <!--end::Page Title-->

                <!--begin::Breadcrumb-->
                <ul id="pageTitleList" class="breadcrumb font-weight-bold my-2 p-0">
                    {{breadcrumbs_tags|convert_to_html}}
                </ul>

                <!--end::Breadcrumb-->
            </div>

            <!--end::Page Heading-->
        </div>

        <!--end::Info-->

        <!--begin::Toolbar-->
        <div class="d-flex align-items-center flex-wrap">


            <!--begin::Dropdown-->
            <div class="dropdown dropdown-inline">
                <a href="/upload-paper" class="btn btn-primary btn-fixed-height font-weight-bold px-2 px-lg-5 mr-2"
                   aria-haspopup="true" aria-expanded="false">
											<span class="svg-icon svg-icon-lg">
												<i class="icon-xl text-dark-15 flaticon-upload"></i>
											</span>
                    <span class="d-md-inline">Upload Paper</span>
                </a>
            </div>

            <!--end::Dropdown-->

        </div>

        <!--end::Toolbar-->
    </div>
</div>

<!--end::Subheader-->