body {
    background-color: #e8eae9;
    font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
    font-size: 1rem !important;
    line-height: 1.63 !important;
    margin: 0 !important;
    overflow-x: hidden !important;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

h1 {
    margin-bottom: 30px;
    font-size: 40px;
    color: #252b33;
    font-weight: 800;
    line-height: 55px;
    letter-spacing: -.5px;
}

.main-container {
    padding-left: 15% !important;
    padding-right: 15% !important;
}

.base_container{
    margin-top: 40px;
}

.error{
    color: red;
    display: none;
}