#tagline{
    margin-bottom: 0px !important;
    line-height: 1 !important;
    font-weight: 800 !important;
    font-size: 1.5rem !important;;
    letter-spacing: -1px !important;
    font-weight: 400 !important;
}
