#progressBar {
    width: 100% !important;
    height: 60px !important;
}

.wraper-paper{
    margin-top: 120px;
}

.ldBar-label {
    display: block;
    text-align: center;
}
.uploading{
    display: none;
    width: 100%;
    text-align: center;
}

.upload-successfully{
    display: none;
}

#divCollage{
    display: none;
}