#progressBar {
    width: 100% !important;
    height: 60px !important;
    padding: 15px 0px 15px 23px;
}

.ldBar-label {
    display: block;
    text-align: center;
}
.uploading{
    display: none;
    width: 100%;
    text-align: center;
}

.upload-successfully{
    display: none;
}

#divCollage{
    display: none;
}

.messageDiv{
    padding: 15px 0px 15px 23px;
}