<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
    <title>Xpapers</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'utils/logo/xpapers_title.png' %}" sizes="16x16"/>
    <!--Title Img-->

    <meta name="keywords" content="xpapers, old papers,">
    <meta name="description"
          content="Xpapers is an online platform to share papers.">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="canonical" href="https://xpapers.in/"/>

    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="xpapers">
    <meta property="og:title" content="xpapers">
    <meta property="og:description"
          content="Xpapers auth is an online platform to share papers.">
    <meta property="og:url" content="https://xpapers.in/">


    <!--bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--ajax-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!--cookie-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <!--Custom_CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'apps/base.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'apps/utils/nav.css' %}"/>

    <!--Custom JS-->

</head>
<body>

<div class="base_container">
    <section class="base_nav">
        {% include 'utils/auth-nav.html' %}
    </section>
    <section class="main-container main-top">
        {% block content %}
        {% endblock %}
    </section>
    <section class="base_footer">
        {#{% include 'dashboard/home/nav.html' %}#}
    </section>
</div>

<script>
    var SIGNUP_URL = "{% url 'api:signup-list' %}";
</script>

<!--Custom_CSS-->
{% block css %}

{% endblock %}

<!--Custom_JS-->
{% block js %}

{% endblock %}

</body>
</html>