{% extends 'auth/base.html' %}
{% load static %}
{% block content %}
    <div class="signup-form">
        <form id="loginForm" method="post">
            <h2>Login</h2>
            <p>Please enter your email and password to login!</p>
            <hr>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                           required="required" autocomplete="off">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                           required="required" autocomplete="off">
                </div>
            </div>
            <div class="form-group">
                <p><a style="color: #999" href="/auth/forget-password">Forgot Password?</a></p>
            </div>
            <div class="form-group">
                <p class="error"></p>
            </div>
            <div class="form-group">
                <button type="submit" id="formBtn" class="btn btn-primary btn-lg">Login</button>
            </div>
        </form>
        <div class="text-center">New to Xpapers? <a href="/auth/signup">Sign Up</a></div>
    </div>
{% endblock %}


{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'apps/auth/signup.css' %}"/>
{% endblock %}

{% block js %}
    <script src='{% static "apps/auth/login.js" %}'></script>
{% endblock %}