Django==2.2.4
django-storages==1.8
pytz==2019.2
sqlparse==0.3.0
django-filter==2.1.0
django-ckeditor==5.8.0
django-extensions==2.1.7
django-js-asset==1.2.2
django-storages==1.8
djangorestframework==3.8.2
boto3==1.12.5
Markdown==3.1.1
Faker==0.9.1
flake8==3.7.7
Pillow==5.1.0
selenium==3.141.0
urllib3==1.24.1
virtualenv==16.2.0
python-dotenv==0.11.0
celery==4.4.6
img2pdf==0.3.6
PyPDF2==1.26.0
sentry-sdk==0.14.3
