{% extends 'base.html' %}
{% load static %}
{% load template_tags %}

{% block head_content %}
        <link rel="canonical"
              href="https://xpapers.in/"/>
        <meta name="keywords" content="{{ keywords }}">
        <meta name="description"
              content="{{ description }}">
        <meta property="og:title"
              content="Xpapers" />
        <meta property="og:url" content="https://xpapers.in/"/>
        <meta property="og:keywords"
              content="{{ keywords }}">
        <meta property="og:description"
                        content="{{ description }}">
{% endblock %}

{% block sub-header %}
    {% include 'partials/_subheader/subheader-v6.html' %}
{% endblock %}

{% block content %}
<div class="card card-custom">
    <div class="card-body">
        <div id class="dataTables_wrapper dt-bootstrap4 no-footer">
            <div class="row">
                <div class="col-sm-12">
                    <table id="universityTbl"
                           class="table table-separate table-head-custom table-checkable dataTable no-footer dtr-inline">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!--Custom_CSS-->
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'apps/dashboard/search.css' %}"/>
{% endblock %}

<!--Custom_JS-->
{% block js %}
<script src="{% static 'apps/dashboard/dashboard.js' %}"></script>
{% endblock %}
