{% extends 'base.html' %}
{% load static %}
{% load template_tags %}

{% block head_content %}
<link rel="canonical" href="https://xpapers.in/"/>
<meta name="keywords" content="{{ keywords }}">
<meta name="description"
      content="{{ description }}">
<meta property="og:keywords"
      content="{{ keywords }}">
<meta property="og:description"
                content="{{ description }}">
{% endblock %}

{% block content %}
<style>
    .key-info span {
        color: #fff !important;
        background-color: #009688 !important;
        display: inline-block;
        padding-left: 8px;
        padding-right: 8px;
        text-align: center;
        box-sizing: inherit;
        font-size: 15px;
    }
</style>
<h1 id="tagline">Select University</h1>
<br/>
<table id="universityTbl" class="display" style="width:100%"></table>
<div class="seo-info">
    <p>
        <b>
            Keywords
        </b>
    </p>
    <div class="key-info">
        {% for keyword in keywords|split_by_comma %}
        <span>{{keyword}}</span>
        {% endfor%}
    </div>
</div>
{% endblock %}

<!--Custom_CSS-->
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'apps/dashboard/search.css' %}"/>
{% endblock %}

<!--Custom_JS-->
{% block js %}
<script src="{% static 'apps/dashboard/dashboard.js' %}"></script>
{% endblock %}
