{% extends 'base.html' %}
{% load static %}

{% block head_content %}
        <meta name="keywords" content="xpapers, privacy policy for xpapers">
        <meta name="description"
              content="Xpapers is an educational website that provides
                       students an online platform to share notes
                       and question papers for various universities.">
        <meta property="og:keywords"
              content="xpapers, about xpapers">
        <meta property="og:description"
              content="Xpapers is an educational website that provides
                       students an online platform to share notes
                       and question papers for various universities.">
{% endblock %}

{% block content %}
<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h2 class="card-label">
                PRIVACY POLICY
            </h2>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <h2>ACCEPTANCE OF TERMS</h2>
                <p>
                    <b>xpapers.in</b> provides its service to you, subject to the following Terms of Service.
                    These policies may be updated by us from time to time without notice of you.
                    You can review our updated terms and conditions always in this page.
                    Usage of this site is subject to these Terms, Conditions and Policies,
                    therefore please read the following information carefully.
                </p>
                <div class="para-sep">
                    <h2>USAGE OF THIS SITE</h2>
                    <p>
                        xpapers.in is an Open Database and operates with a motto of collecting and sharing question
                        papers
                        that were asked in various universities exams. This data is collected and submitted by various
                        users/visitors around the world. xpapers.in does not guarantee the re-occurrences or repetition
                        of
                        question papers in same exams or any other exams. The purpose of this site is to provide
                        information
                        to the public. Even though every care has been taken in compiling the information forwarded by
                        certain
                        enthusiastic users, xpapers.in doesn't guarantee the accuracy of the content or information that
                        provided in this site and won't take responsible for any INCORRECT question papers, content and
                        any
                        form of errors. xpapers.in will not be responsible in anyway for any damages/consequences that
                        might
                        occur due to inclusion of some incorrect content or information in this site. You can use this
                        information solely at your own risk. Users submitting question papers or file to this site,
                        asserts
                        that he or she owns that data or otherwise has the right to redistribute it freely. xpapers.in
                        assumes no liability for disputes regarding ownership, copyright, or trademarks of the data
                        submitted
                        to this site. xpapers.in reserves the right to refuse to post any submission, to alter
                        submissions,
                        and to remove a submission from the site. xpapers.in may exercise this right without any advance
                        notice to the individual submitting the code or content. All trademarks and company names
                        published in this site are subjected to their respected owners and companies.
                    </p>
                </div>
                <div class="para-sep">
                    <h2>REGISTRATION INTO SITE</h2>
                    <p>
                        This is an OPTIONAL service provided by xpapers.in Visitors can register into the site on
                        their own interest, it is not mandatory. This registration into the site permits the user to
                        maintain and modify of the data submitted to the site. While submitting registration form, you
                        also
                        agreed to provide and maintain true, accurate, current and complete information about yourself
                        as
                        prompted by the Service's registration form. xpapers.in NEVER verifies the accuracy of
                        Personal Information that is submitted to the site, it is solely responsibility of the user.
                        xpapers.in reserves the right to suspend or permanently delete any user, If the data or
                        information provided by the user is inaccurate, not related or incomplete or if the user
                        violated
                        our terms and conditions in any manner.
                    </p>
                </div>
                <div class="para-sep">
                    <h2>Information Disclosure</h2>
                    <p>
                        We do not share, sell, rent, or trade User Personal Information with third parties for
                        commercial
                        purposes.
                    </p>
                </div>
                <div class="para-sep">
                    <h2>ANTI-SPAM POLICY</h2>
                    <p>
                        xpapers.in is against in sending spam, unsolicited emails. You should not use our service
                        and you are not authorized to use our referral or email services, for your personal or
                        commercial
                        purposes. By usage of this service you agreed that to our policies. Violating these policies in
                        any
                        manner subject to violation of respected laws and necessary action will be initiated against the
                        defaulters.
                    </p>
                </div>
                <div class="para-sep">
                    <h2>COPYRIGHT POLICY</h2>
                    <p>
                        All pages, data and graphics presented on this website are the property of xpapers.in.
                        The pages may not be redistributed or reproduced in any way, shape, or form without the written
                        permission of xpapers.in. xpapers.in respects the copyrights, trademarks and
                        intellectual property of others and also we expect this from other users. In this site, if you
                        found
                        any information that is owned by you or any content that violates your intellectual property
                        rights,
                        please contact to us with all necessary documents/information that authenticate your authority
                        on
                        your property.
                    </p>
                </div>
                <div class="para-sep">
                    <h2>Changes to this Policy</h2>
                    <p>
                        We reserve the right to revise this Privacy Policy at any time. If we change this Privacy Policy
                        in the future, we will post the revised Privacy Policy and update the “Effective Date,” above,
                        to reflect the date of the changes.
                    </p>
                </div>
                <div class="para-sep">
                    <h2>Questions</h2>
                    <p>
                        We welcome feedback about this policy, please contact us through this <a href="/contact-us/">contact</a>
                        page.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block css %}
<style>
    .para-sep{
        padding-top: 10px;
    }
</style>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function () {
        document.title = "Privacy Policy for Xpapers";
    });
</script>
{% endblock %}
