{% load static %}
<div class="select-university">
    <h2>Select University</h2>
    {% for uni in universities %}
        <a href="/s?uni={{ uni.slug }}">
            <div class="card mb-3">
                {% if uni.thumbnail %}
                    <img class="card-img-top" src="{{ uni.thumbnail.url }}" alt="{{ uni.name }} "
                         style="max-height: 500px">
                {% else %}
                    <img class="card-img-top" src="{% static 'utils/images/default_uni.png' %}" alt="{{ uni.name }} "
                         style="max-height: 500px">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ uni.name }}</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                    <p class="card-text">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                </div>
            </div>
        </a>
    {% endfor %}
</div>