{% extends 'base.html' %}
{% load static %}
{% block content %}
    <table id="example" class="display" style="width:100%"></table>
{% endblock %}

<!--Custom_CSS-->
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'apps/dashboard/search.css' %}"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
{% endblock %}

<!--Custom_JS-->
{% block js %}
    <script src="{% static 'apps/dashboard/search.js' %}"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
{% endblock %}