{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="card card-custom col-lg-8 uploadPaperDiv">
    <div class="card-header">
        <h3 class="card-title">
            Upload Paper
        </h3>
        <div class="card-toolbar">
            <div class="example-tools justify-content-center">
                <span class="example-toggle" data-toggle="tooltip" title="View code"></span>
                <span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
            </div>
        </div>
    </div>
    <div class="upload-paper">
        <!--begin::Form-->
        <form id="upload-paper">
            <div class="card-body">
                <div class="form-group" style="width: 100px">
                    <label>Year <span class="text-danger">*</span></label>
                    <select name="year" class="js-example-basic-single form-control" id="year" required>
                    </select>
                </div>
                <div class="form-group" style="width: 100px">
                    <label>Type <span class="text-danger">*</span></label>
                    <select name="type" class="js-example-basic-single form-control sel-type" id="type" required>
                    </select>
                </div>
                <div class="form-group">
                    <label>University:</label>
                    <select name="university" class="js-example-basic-single form-control" id="university" required>
                    </select>
                </div>
                <div class="form-group" id="divCollage">
                    <label>Collage:</label>
                    <select name="collage" class="js-example-basic-single form-control" id="collage">
                    </select>
                </div>
                <div class="form-group">
                    <label>Course:</label>
                    <select name="course" class="js-example-basic-single form-control" id="course" required>
                    </select>
                </div>
                <div class="form-group">
                    <label for="title">Branch</label>
                    <select name="branch" class="js-example-basic-single form-control" id="branch" required>
                    </select>
                </div>
                <div class="form-group">
                    <label for="title">Subject</label>
                    <select name="subject" class="js-example-basic-single form-control" id="subject" required>
                    </select>
                </div>
                <div class="form-group">
                    <label for="title">Select Files</label><br/>
                    <input type="file" name="file" id="getFile" autocomplete=off
                           accept="image/x-jpg, image/jpeg, application/pdf" multiple required/>
                </div>
                <p class="error"></p>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary mr-2" id="btn-submit">Upload</button>
            </div>
        </form>
        <!--end::Form-->
    </div>
    <div class="messageDiv">
        <div class="uploading">
            <h2>Uploading...</h2>
            <div id="progressBar"
                 data-preset="rainbow">
            </div>
        </div>
        <div class="upload-successfully">
            <h2>Uploaded Successfully</h2>
            <div style="width: max-content;">
                <a href="/upload-paper" class="btn btn-primary btn-fixed-height font-weight-bold px-2 px-lg-5 mr-2"
                   aria-haspopup="true" aria-expanded="false">
											<span class="svg-icon svg-icon-lg">
												<i class="icon-xl text-dark-15 flaticon-upload"></i>
											</span>
                    <span class="d-md-inline">Upload More Paper</span>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!--Custom_CSS-->
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'apps/dashboard/uploadPaper.css' %}"/>
{% endblock %}

<!--Custom_JS-->
{% block js %}
<script src="{% static 'apps/dashboard/uploadPaper.js' %}"></script>
{% endblock %}
